<template>
  <div>
    <v-row dense>
      <v-col
        v-for="(item,i) in items"
        :key="i"
        cols="12"
        >
        <v-card>
          <v-card-text>
            <v-row
              align="center"
              dens
              >
              <v-col cols="3">
                <v-text-field v-model="item.value" type="number" />
              </v-col>
              <v-col cols="3">
                <v-select
                  v-model="item.currency"
                  :items="allCurrency"
                  dens
/>
              </v-col>
              <v-col class="cols-4 ma-2">
                {{ item.value*exchange[item.currency] }} thb
              </v-col>
              <v-col cols="2">
                <a @click="removeItem(i)">
                  <v-icon> mdi-close </v-icon>
                </a>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },
    removeItem: {
      type: Function,
      default: () => {}
    }
  },
  data () {
    return {
      exchange: {
        usd: 32,
        aud: 25,
        sgd: 25,
        jpy: 0.3
      }
    }
  },
  computed: {
    allCurrency () {
      return Object.keys(this.exchange)
    }
  }
}
</script>
