<template>
  <div>
    <v-speed-dial
      v-model="fab"
      class="mb-8"
      transition="slide-y-reverse-transition"
      direction="top"
      bottom
      right
      fixed
    >
      <template #activator>
        <v-btn
          color="red"
          dark
          fab
        >
          <v-icon v-if="!fab">
            mdi-apps
          </v-icon>
          <v-icon v-else>
            mdi-close
          </v-icon>
        </v-btn>
      </template>
      <v-btn
        v-for="page in allPages"
        :key="page.title"
        color="blue darken-3"
        :to="page.to"
        fab
        dark
        small
        nuxt
      >
        <v-icon>{{ page.icon }}</v-icon>
      </v-btn>
    </v-speed-dial>
  </div>
</template>
<script>
export default {
  props: {
    pages: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      fab: false
    }
  },
  computed: {
    allPages () {
      return this.pages.slice(1).reverse()
    }
  }
}
</script>
