<template>
  <v-container fluid>
    <v-row justify="center">
      <v-col
        cols="12"
        sm="10"
        md="8"
      >
        <br>
        <v-row
          v-if="!isDelete"
          class="mx-auto"
          dense
        >
          <v-col
            :cols="isEdit ? 10 : 12"
            :md="isEdit ? 4 : 6"
          >
            <v-text-field
              v-model="name"
              label="Name"
              :outlined="!isEdit"
              :solo-inverted="isEdit"
            />
          </v-col>
          <v-col v-if="isEdit" cols="2" md="2" class="d-flex justify-center">
            <div class="my-2">
              <v-btn color="red" @click="fetchInfo">
                Fetch
              </v-btn>
            </div>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="hour"
              label="Hour"
              outlined
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="weekday"
              label="Weekday"
              outlined
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="day"
              label="Day"
              outlined
            />
          </v-col>
          <v-col cols="12">
            <v-text-field
              v-model="msg"
              label="Message"
              outlined
            />
          </v-col>
          <v-col cols="12">
            <hr>
            <br>
            <v-input
              :messages="['Copy this command to Kitsune bot']"
              append-icon="mdi-content-copy"
              @click:append="copyValue"
            >
              <v-text-field :value="generatedCommand" />
            </v-input>
          </v-col>
        </v-row>
        <v-row v-if="isDelete" dense>
          <v-col cols="3">
            Schedule name:
          </v-col>
          <v-col cols="9">
            <v-text-field v-model="name" outlined />
          </v-col>
          <v-col cols="12">
            <hr><br>
            <v-input
              :messages="['Copy this command to Kitsune bot']"
              append-icon="mdi-content-copy"
              @click:append="copyValue"
            >
              <v-text-field :value="generatedCommand" />
            </v-input>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { copyToClipboard } from '@/assets/clipboard'

export default Vue.extend({
  props: {
    type: {
      type: String,
      default: 'Add'
    }
  },
  data (): any {
    return {
      name: '',
      hour: '',
      weekday: '',
      day: '',
      msg: '',
    }
  },
  computed: {
    isDelete (): boolean {
      return this.type === 'Delete'
    },
    isEdit (): boolean {
      return this.type === 'Edit'
    },
    typeCommand (): string | null {
      if (this.type === 'Add') {
        return 'addsc'
      }
      if (this.type === 'Delete') {
        return 'delsc'
      }
      if (this.type === 'Edit') {
        return 'updatesc'
      }
      return null
    },
    generatedCommand (): string {
      const prefix = '!'
      const json = JSON.stringify({
        name: this.name,
        hour: this.hour,
        day: this.day,
        weekday: this.weekday,
        msg: this.msg
      })
      let cmd
      if (!this.isDelete) {
        cmd = this.typeCommand + ' ' + json
      } else {
        cmd = this.typeCommand + ' ' + this.name
      }
      return prefix + cmd
    }
  },
  methods: {
    copyValue () {
      copyToClipboard(this.generatedCommand)
      this.$nuxt.$emit('snackbar-alert', {
        text: 'Command copied'
      })
    },
    async fetchInfo () {
      if (!this.name) {
        return
      }
      this.snackText = 'Fetching schedule..'
      this.snackbar = true

      const db = this.$fire.firestore
      const res = await db.collection('oni-schedule').where('name', '==', this.name).get()
      if (res.docs.length) {
        const data = res.docs[0].data()
        this.hour = data.hour
        this.day = data.day
        this.weekday = data.weekday
        this.msg = data.msg

        this.snackText = 'Fetch completed'
        this.snackbar = true
      } else {
        this.snackText = 'Schedule not found'
        this.snackbar = true
      }
    }
  }
})
</script>
