<template>
  <div>
    <v-dialog
      v-model="dialog"
      width="500"
      >
      <template #activator="{ on, attrs }">
        <v-btn
          class="mx-3 mt-1"
          color="white"
          v-bind="attrs"
          v-on="on"
          >
          <span class="red--text text--darken-3">
            Call
          </span>
        </v-btn>
      </template>

      <v-card>
        <v-card-title class="headline grey lighten-2">
          Call Kitsune-bot
        </v-card-title>
        <br>
        <v-card-text>
          <v-input
            messages="input Kitsune command here"
            prepend-icon="mdi-content-paste"
            @click:prepend="pasteClipboard"
            >
            <v-text-field
              v-model="command"
              class="mt-n1"
              solo
              label="Kitsune command"
              clearable
              />
          </v-input>
        </v-card-text>

        <v-divider />

          <v-card-actions>
            <v-spacer />
              <v-btn
                color="primary"
                text
                @click="onSubmit"
                >
                I accept
              </v-btn>
          </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data (): any {
    return {
      dialog: false,
      command: ''
    }
  },
  computed: {
    webhook (): string {
      return 'https://discord.com/api/webhooks' +
        '/845702137744982136' +
        '/EJ0sJ4L-OdkQqxKPlFuKYttuhXVIY_oVqeW06c5f41_0b93V3eKmh1AJprfZ5bR0KrxD'
    }
  },
  methods: {
    async pasteClipboard (): Promise<void> {
      // navigator.permissions.query({ name: 'clipboard-read' }).then(function (result) {
      //   alert(result.state)
      // })
      const clipboard = await navigator.clipboard.readText()
      this.command = clipboard
    },
    async submitCommand (): Promise<void> {
      try {
        await this.$axios.post(this.webhook, {
          content: this.command
        })
        this.$nuxt.$emit('snackbar-alert', {
          text: 'Command sent! ⚓'
        })
        this.command = ''
      } catch (err) {
        console.error(err)
      }
    },
    onSubmit (): void {
      const prefix = '!'
      if (this.command !== '' && this.command.includes(prefix)) {
        this.$nuxt.$emit('snackbar-alert', {
          text: 'Loading..'
        })
        this.submitCommand()
        this.dialog = false
      }
    }
  }
})
</script>
