<template>
  <v-snackbar
    v-model="snackbar"
    :timeout="time"
    >
    {{ text }}
    <template #action="{ attrs }">
      <v-btn
        color="red lighten-6"
        text
        v-bind="attrs"
        @click="snackbar = false"
        >
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>
<script lang="ts">
import Vue from 'vue'

interface SnackbarEvent {
  text: string
  time?: number
}

export default Vue.extend({
  data (): any {
    return {
      snackbar: false,
      time: 1500,
      text: 'alert'
    }
  },
  mounted (): void {
    this.$nuxt.$on('snackbar-alert', (ev: SnackbarEvent) => {
      this.time = ev.time ?? 1500
      this.text = ev.text ?? 'alert'
      this.snackbar = true
    })
    this.$on('hook:beforeDestroy', () => {
      this.$nuxt.$off('snackbar-alert')
    })
  }
})
</script>
