<template>
  <v-row justify="center">
    <v-dialog
      :value="dialog"
      max-width="320"
      persistent
    >
      <v-card>
        <v-card-title>There is an update available!</v-card-title>
        <v-card-text></v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="teal lighten-1"
            text
            @click="onClose"
          >
            Update
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
export default {
  props: {
    dialog: {
      type: Boolean,
      default: false
    },
    updateFn: {
      type: Function,
      default: () => { console.log('default') }
    }
  },
  data () {
    return {
    }
  },
  methods: {
    async onClose () {
      this.$emit('close-update-dialog')
      this.$nuxt.$emit('snackbar-alert', {
        text: 'Updating...',
        time: 0
      })
      await this.updateFn()
    }
  }
}
</script>
