<template>
  <v-app light>
    <v-navigation-drawer
      v-model="drawer"
      :clipped="clipped"
      fixed
      app
      temporary
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          nuxt
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
      <UpdateDialog
        :dialog="updateDialog"
        :update-fn="updateAppFn"
        @close-update-dialog="updateDialog = false"
      />
      <br><br>
      <FabDrawer :pages="items" />
      <SnackbarDefault />
    </v-main>
    <v-footer
      :absolute="!fixed"
      app
    >
      <span class="text-center">&copy; {{ new Date().getFullYear() }}</span>
      <v-spacer />
      <span>
        {{ version }}: {{ swVersion }}
      </span>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'

import sw from '@/components/serviceWorker'
import { routes } from '@/assets/route'

export default Vue.extend({
  middleware: ['defaultIndex'],
  data () {
    return {
      updateDialog: false,
      updateAppFn: sw.skipWaiting,
      clipped: false,
      drawer: false,
      fixed: false,
      version: '',
      swVersion: 'dev',
      items: routes,
      right: true,
      rightDrawer: false,
      snackbar: false,
      snackText: '',
      snackTime: 0,
      title: 'kzbox'
    }
  },
  async mounted (): Promise<void> {
    const showAlert = () => {
      this.updateDialog = true
    }
    await sw.alertUpdate(showAlert)
    this.swVersion = await sw.swVersion() || 'dev'
  }
})
</script>
