<template>
  <v-list>
    <v-list-item-group
      color="primary"
    >
      <v-list-item
        v-for="(item, i) in items"
        :key="i"
      >
        <v-list-item-icon>
          <v-icon v-text="item.icon?'mdi-'+item.icon:''" />
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title v-text="item.name" />
        </v-list-item-content>
      </v-list-item>
      <v-list-item v-if="items.length === 0">
        <v-list-item-content>
          <v-list-item-title>
            <i>None</i>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list-item-group>
  </v-list>
</template>
<script>
export default {
  props: {
    weekday: {
      type: String,
      default: 'Monday'
    },
    allItems: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
    }
  },
  computed: {
    items () {
      return this.allItems.filter(x => x.day.toLowerCase() === this.weekday.toLowerCase())
    }
  },
  methods: {
    getDay (date) {
      return date.toLocaleDateString('en-us', { weekday: 'long' })
    }
  }
}

</script>
