<template>
  <v-container
    class="ma-1"
    >
    <v-row class="pa-2">
      <v-col
        cols="9"
        md="8"
        >
        <h2>Currency comparator</h2>
      </v-col>
      <v-col
        cols="3"
        md="4"
        >
        <v-btn
          elevation="2"
          color="primary"
          fab
          @click="addItem"
          >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <CurrencyList
      :items="items"
      :remove-item="removeItem"
    />
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'

interface CurrencyItem {
  currency: string
  value?: number
}

export default Vue.extend({
  data () {
    return {
      items: [] as CurrencyItem[]
    }
  },
  methods: {
    addItem (): void {
      this.items.push({
        currency: 'usd',
        value: 100
      })
    },
    removeItem (i: number): void {
      this.items.splice(i, 1)
    }
  }
})

</script>
