<template>
  <v-container>
    <h2>Daily Reminder</h2>
    <h3>Today is <span class="red--text text--darken-3">{{ dayToday }}</span></h3>
    <br>
    <span v-if="$fetchState.pending">Loading</span>
    <span v-else-if="$fetchState.error">Error occured :(</span>
    <v-row v-else dense>
      <v-expansion-panels :value="expandedTabs" multiple accordion>
        <v-col
          v-for="i in 3"
          :key="i"
          md="4"
          cols="12"
        >
          <v-expansion-panel>
            <v-expansion-panel-header
              :class="headerClass(i)"
            >
              {{ getDayRelative(i-2) }}
              {{ i==2?'(Today)':'' }}
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <DailyList
                :all-items="items"
                :weekday="getDayRelative(i-2)"
              />
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-col>
      </v-expansion-panels>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      items: []
    }
  },
  async fetch () {
    const db = this.$fire.firestore
    const res = await db.collection('daily-reminder').get()
    this.items = res.docs.map(x => x.data())
      .sort((a, b) => a.icon - b.icon)
  },
  computed: {
    dayToday () {
      const today = new Date()
      const day = today.toLocaleDateString('en-us', { weekday: 'long' })
      return day
    },
    expandedTabs () {
      if (this.$vuetify.breakpoint.mdAndUp) {
        return [0, 1, 2]
      }
      return [1]
    }
  },
  methods: {
    getDayRelative (num) {
      const date = new Date()
      date.setDate(date.getDate() + num)
      const output = date.toLocaleDateString('en-us', { weekday: 'long' })
      return output
    },
    headerClass (i) {
      return {
        'pink--text': i === 2,
        'darken-3--text': i === 2,
        'font-weight-bold': true
      }
    }
  }
}

</script>
