<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card>
        <v-card-title class="headline">
          kz toolbox
        </v-card-title>
        <v-card-text>
          <p>A toolbox used for daily activity of mine</p>
          <p>This page should be redirected to default index page</p>
          <div class="text-xs-right">
            <em><small>&mdash; kill-z</small></em>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  // beforeCreate () {
  //   this.$router.push('/daily')
  // }
}
</script>
