<template>
  <v-card>
    <v-toolbar
      color="red darken-3"
      dark
      flat
    >
      <v-toolbar-title>Kitsune Schedule Command</v-toolbar-title>
      <v-spacer />
      <template #extension>
        <v-tabs
          v-model="tab"
          align-with-title
        >
        <v-tabs-slider color="yellow" />
          <v-tab
            v-for="item in items"
            :key="item"
            >
            {{ item }}
          </v-tab>
          <v-spacer />
          <KitsuneCallDialog />
        </v-tabs>
      </template>
    </v-toolbar>

    <v-tabs-items v-model="tab">
      <v-tab-item
        v-for="item in items"
        :key="item"
      >
        <v-card flat>
          <KitsuneCommand :type="item" />
        </v-card>
      </v-tab-item>
    </v-tabs-items>
    <br>
  </v-card>
</template>
<script>
export default {
  data () {
    return {
      tab: null,
      items: [
        'Add', 'Delete', 'Edit'
      ],
      callDialog: false
    }
  },
  methods: {
    clickCall () {
      this.callDialog = true
    },
    closeDialog () {
      this.callDialog = false
    }
  }
}
</script>
