<template>
  <div>
    <span>
      {{ toTime(now) }}<br>
      {{ intl(now.toJSDate()) }}<br>
      {{ locale }}
      {{ now.hour }}
    </span>
  </div>
</template>
<script>
import { DateTime } from 'luxon'
export default {
  data () {
    return {
      now: DateTime.now().set({
        hour: 0,
        minute: 10
      }),
      locale: DateTime.now().locale
    }
  },
  methods: {
    toTime (date) {
      date = date.setLocale('en-US-u-hc-h23')
      const timeFormat = Object.assign(DateTime.TIME_24_SIMPLE, {})
      // const timeFormat = DateTime.TIME_24_SIMPLE
      return date.toLocaleString(timeFormat)
    },
    intl (date) {
      return new Intl.DateTimeFormat('en-US', {
        timeStyle: 'short',
        hourCycle: 'h11',
        hour12: false
      }).format(date)
    }
  }
}

</script>
