<template>
  <v-card
    v-resize="onResize"
    :class="cardClass"
    >
    <a :href="info.link" target="_blank">
      <v-img
        ref="img"
        :src="info.thumbnail"
        :height="height"
        contain
        />
    </a>
    <v-card-title>
      {{ toTime(info.datetime) }}
      <v-spacer />
      <div class="mr-n2 mt-n4">
        <v-btn
          v-if="!isPast"
          color="primary"
          elevation="2"
          :x-small="$vuetify.breakpoint.smAndDown"
          :small="$vuetify.breakpoint.mdAndUp"
          icon
          @click="addToRemind"
          >
          <v-icon>mdi-calendar-edit</v-icon>
        </v-btn>
        <v-btn
          color="red"
          elevation="2"
          :x-small="$vuetify.breakpoint.smAndDown"
          :small="$vuetify.breakpoint.mdAndUp"
          icon
          @click="showVideoInfo"
          >
          <v-icon>mdi-youtube</v-icon>
        </v-btn>
      </div>
    </v-card-title>
    <v-card-subtitle>
      <span class="text-subtitle-2">
        {{ info.streamer }} <br>
      </span>
    </v-card-subtitle>
  </v-card>
</template>
<script lang="ts">
import Vue, { PropType } from 'vue'
import { DateTime } from 'luxon'
import { copyToClipboard } from '@/assets/clipboard'

interface Hololive {
  id: number
  link: string
  streamer: string
  datetime: any
  thumbnail: string
  live: boolean
}

export default Vue.extend({
  props: {
    info: {
      type: Object as PropType<Hololive>,
      default: () => {}
    },
    getVideo: {
      type: Function,
      default: () => {}
    }
  },
  data (): any {
    return {
      height: undefined
    }
  },
  computed: {
    cardClass (): {
      live: boolean
      upcoming: boolean
      } {
      return {
        live: this.info.live,
        upcoming: !this.info.live && !this.isPast
      }
    },
    isPast (): boolean {
      return DateTime.now() > this.info.datetime
    },
    videoId (): string {
      return this.info.link.match(/v=(.*)$/)[1]
    }
  },
  mounted (): void {
    this.setImgHeight()
    this.$emit('card-mounted')
  },
  methods: {
    toTime (date: DateTime): string {
      // return date.toLocaleString(DateTime.TIME_24_SIMPLE)
      // Somehow produces error in chrome showing 24:10
      return `${date.hour}:`.padStart(3, '0') + `${date.minute}`.padStart(2, '0')
    },
    setImgHeight (): void {
      this.height = this.$refs.img.$el.clientWidth * 9 / 16
    },
    onResize (): void {
      this.setImgHeight()
    },
    addToRemind (): void {
      let cmd = '!remind '
      const zone = 'Asia/Bangkok'
      const dt = this.info.datetime.setZone(zone).minus({ minutes: 15 })
      cmd += `${dt.day}/${dt.month}@${dt.hour}.${dt.minute}`
      cmd += ` Watch Hololive ${this.info.streamer}`
      copyToClipboard(cmd)
      this.$nuxt.$emit('snackbar-alert', {
        text: 'Copied to clipboard'
      })
    },
    async showVideoInfo (): Promise<void> {
      if (!this.info.video) {
        await this.getVideo(this.info.id, this.videoId)
      }
      this.$nuxt.$emit('snackbar-alert', {
        text: `Title: ${this.info.video.snippet.title}`,
        time: 0
      })
    }
  },
})
</script>
<style scoped>
.live {
  border: 3px solid #ea3333;
}
.upcoming {
  border: 3px solid #ffed63;
}
</style>
