<template>
  <v-container>
    <span v-if="$fetchState.pending">Loading..</span>
    <span v-else-if="$fetchState.error">ERROR! </span>
    <v-row
      v-for="day in allDays"
      v-else
      :key="day"
      :class="{ today: isToday(day), 'pt-4': true }"
      dense
      >
      <v-col cols="12">
        <v-card
          color="teal lighten-1"
          >
          <v-card-title
            class="d-flex justify-center white--text"
            >
            {{ eachDay(day)[0].day }} ({{ DateTime.now().setZone(zone).zoneName }})
          </v-card-title>
        </v-card>
      </v-col>
      <v-col
        v-for="item in eachDay(day)"
        :key="item.link"
        cols="6"
        md="4"
        lg="3"
        >
        <HololiveCard
          :ref="`card-${item.id}`"
          :info="item"
          :name="`card-${item.id}`"
          :get-video="getVideo"
          @card-mounted="cardMounted"
          />
      </v-col>
    </v-row>
  </v-container>
</template>
<script lang="ts">
import Vue from 'vue'
import { DateTime } from 'luxon'

interface Hololive {
  id?: number
  link: string
  streamer: string
  datetime?: any
  thumbnail: string
  live: boolean
  upcoming: boolean
  day: number
  video?: string
}

export default Vue.extend({
  data () {
    return {
      hololive: [] as Hololive[],
      cardCount: 0,
      DateTime,
      loadedImg: 0,
      zone: 'Asia/Tokyo' as string
    }
  },
  async fetch (): Promise<void> {
    const url = 'https://us-central1-kzbox-tool.cloudfunctions.net/getHololive'
    // const url = 'http://127.0.0.1:4000/hololive'
    const data: Array<any> = await this.$axios.$get(url)
    this.hololive = data.map((e: any) => {
      e.datetime = DateTime.fromJSDate((new Date(e.time))).setZone(this.zone)
      e.day = e.datetime.toLocaleString(DateTime.DATE_MED)
      return e
    })
    this.hololive = this.hololive.filter((e: Hololive) => {
      return DateTime.now().minus({ hours: 20 }) < e.datetime
    })
    for (let i = 0; i < this.hololive.length; i++) {
      this.hololive[i].id = i
    }
  },
  computed: {
    allDays (): Array<number> {
      return [...new Set(this.hololive.map(e => e.datetime.day))]
    },
  },
  methods: {
    eachDay (day: number): Array<Hololive> {
      return this.hololive.filter(e => e.datetime.day === day)
    },
    isToday (day: number): boolean {
      return DateTime.now().setZone(this.zone).day === day
    },
    cardMounted (): void {
      this.cardCount += 1
      if (this.cardCount === this.hololive.length) {
        // console.log('all cards mounted')
        this.$nextTick(this.scroll)
      }
    },
    scroll (): void {
      const e = this.hololive.filter(x => x.live || x.upcoming)[0]
      const el = this.$refs[`card-${e.id}`] as Vue[]

      window.scrollTo({
        behavior: 'smooth',
        top: (el[0].$el.getBoundingClientRect().top - 70)
      })
    },
    async getVideo (cardId: number, videoId: string): Promise<void> {
      const index: number = this.hololive.findIndex(e => (e.id === cardId))
      if (this.hololive[index].video) {
        return
      }
      const API = 'AIzaSyATaRGy9PkFPK9NGSRrDWKOqWrBXE_gR8Q'
      let url = 'https://youtube.googleapis.com/youtube/v3/videos?part=snippet%2CcontentDetails'
      url = `${url}&id=${videoId}&key=${API}`
      const res = await this.$axios.get(url)
      // console.log(res)
      this.hololive[index].video = res.data.items[0]
    }
  },
})
</script>
